

@media (min-width: 1200px){
    
    .container{
        width: 80%;
    }

    /* Affichage images et navigation pc*/

    .navmobile, .imgmobile{
        display: none;
    }

    .button{
        display: none;
    }

    .buttondark{
        display: block;
    }

    .imgpc{
        display: block;
    }

    .navpc{
        display: flex;
        gap: 30px;
    }

    .navpc li a{
        color: var(--black);
    }

    /* Ajustement des images*/

    .imgpc{
        width: 80%;
        margin: auto;
    }


    .logo{
        width: 50%;
        height: 60px;
    }

    /* Ajustement Entête*/

   header section{
       padding-top: 100px;
   }

   header h1{
       font-size: 2.5rem;
       margin: auto;
   }

   .unicorn{
       width: 30%;
       padding-top: 200px;
       padding-bottom: 300px;
   }

   /* Ajustement Corps*/ 

    /* Cartes*/

    .card_project{
        position: relative;
    }

    .card_project p{
        font-size: 1.2rem;
        position: absolute;
        width: 20%;
        text-align: left;
        bottom: 30px;
        left: 120px;
    }


   /* Ajustement Bas de page*/

   .newsletter{
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       padding: 50px;
   }

   .newsletter img{
       width: 50%;
   }

   .buttondark{
       display: inline;
   }
}
    
