@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

:root {
    --black: #181818;
    --white: #ffffff;
    --gray: #eeeeee;
    --gray-light: #fbfbfb;
    --font-body: 'PT Sans', sans-serif;
    --font-title: 'Libre Baskerville', serif;
}

/* Police Ecriture */

h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Baskerville', serif;
}

body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--gray-light);
    font-size: 16px;
}

/* Navigation PC */

.navpc, .imgpc{
    display: none;
}

/* Container et images */

.container{
    width: 90%;
    margin: auto;
    text-align: center;
}

header div nav{
    margin: auto;
}

.imgmobile{
    width: 100%;
    margin: auto;
}

.unicorn{
    padding-top: 50px;
    padding-bottom: 80px;
}

/* Haut de page */

.logo{
    padding-top: 10px;
    width: 15%;
    margin: 0%;
}

header div{
    padding-bottom: 80px;
}

header div{
    display: flex;
    justify-content: space-between;
}

header div nav ul,
header div nav li a{
    list-style: none;
    text-decoration: none;
}

.list{
    height: 30px;
}

header img{
    width: 90%;
    margin: auto;
}

/* Corps de la page */

.button{
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 8px;
    border-radius: 6px;
    display: block;
}

.buttondark{
    filter: invert(1);
}

#unipaper{
    width: 90%;
    padding-top: 20px;
}

main div section{
    padding-bottom: 40px;
}

/* Bas de page */

footer{
    background-color: var(--gray);
}

footer h2{
    width: 60%;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px;
}

.footlogo{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    gap: 20px;
}